#countdown_dashboard {
	height: 100px;
	width: 250px;
	margin: 0 auto;
	background: transparent;
	padding-left: 0px;
}

.dash {
	width: 62px;
	height: 44px;
	background: transparent url('../images/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 2px;
	padding-left: 10px;
	padding-top: 5px;
	position: relative;
	color: #333;
}

.weeks_dash, .days_dash, .minutes_dash, .seconds_dash  {
	background: transparent url('../images/dark_bg_dash.png') 0 0 no-repeat;
}

.hours_dash {
	clear: left;
	background: transparent url('../images/dark_bg_dash.png') 0 0 no-repeat;
}

.dash .digit {
	font: bold 20pt Verdana;
	font-weight: bold;
	float: left;
	width: 22px;
	text-align: center;
	position: relative;
}

.dash_title {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	display: block;
	position: absolute;
	left: -15px;
	top: 18px;
	width:28px;
	color: #fff;
	text-align: left;
	font-size: 9px;
}

.faded {
	color: #999;
}

#loading {
	text-align: center;
	margin: 10px;
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
}