#countdown_dashboard {
	height: 127px;
	width: 250px;
	margin: 0 auto;
	padding-top: 10px;
	padding-left: 10px;
	background: transparent url('images/bg_countdown.png') 0 0 no-repeat;
}

.dash {
	width: 42px;
	height: 44px;
	float: left;
	margin-left: 2px;
	padding-left: 6px;
	padding-top: 10px;
	position: relative;
	color: #FFF;
}

.tripdash {
	width: 62px;
	height: 44px;
	float: left;
	margin-left: 2px;
	padding-left: 6px;
	padding-top: 10px;
	position: relative;
	color: #FFF;
}

.hours_dash, .minutes_dash, .seconds_dash  {
	background: transparent url('images/bg_dash.png') 0 0 no-repeat;
}

.days_dash  {
	clear: left;
	margin-left: 10px;
	background: transparent url('images/bg_dash.png') 0 0 no-repeat;
}

.days_trip_dash  {
	clear: left;
	background: transparent url('images/bg_trip_dash.png') 0 0 no-repeat;
}

.weeks_dash  {
	margin-left: 10px;
	background: transparent url('images/bg_dash.png') 0 0 no-repeat;
}

.weeks_trip_dash  {
	margin-left: 10px;
	background: transparent url('images/bg_trip_dash.png') 0 0 no-repeat;
}

.digit {
	font: normal normal normal 16pt/normal arial;
	float: left;
	width: 20px;
	text-align: center;
	position: relative;
}

.dash .dash_title {
	display: block;
	position: absolute;
	text-transform:uppercase;
	top: 41px;
	width:42px;
	color: #AAA;
	text-align: center;
	font-size: 9px;
}

.tripdash .dash_title {
	display: block;
	position: absolute;
	text-transform:uppercase;
	top: 41px;
	width:62px;
	color: #AAA;
	text-align: center;
	font-size: 9px;
}